#idText1 {
    background-color: rgb(249, 229, 4);
    color: rgb(201, 132, 29);
    padding: 5px;
    font-size: 12px;
    display: block;
}

.classText1 {
    background-color: rgb(24, 129, 0);
    color: blueviolet;
    padding: 5px;
}

p{
    background-color: rgb(255, 20, 20);
}

*{
    background-color: rgb(106, 0, 255);
}

