.bannerL {
    color: rgb(28, 121, 133);
    background-color: rgb(115, 216, 225);
}

.bannerC {
    color: rgb(169, 18, 152);
    background-color: rgb(216, 100, 237);
}

.bannerR {
    color: rgb(98, 0, 255);
    background-color: rgb(148, 100, 237);
}

.downto600 {
    display: none;
}

.downto600land{
    display: none;
}

.upto600x768 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 40px 0px 40px 0;
    display: block;
    background-color: yellow;
}

.upto768x992 {
    display: none;
}

.upto992 {
    display: none;
}