.bannerL {
    color: rgb(184, 230, 46);
    background-color: rgb(238, 148, 112);
}

.bannerC {
    color: rgb(182, 218, 23);
    background-color: rgb(50, 195, 14);
}

.bannerR {
    color: rgb(12, 205, 239);
    background-color: rgb(125, 152, 169);
}

.downto600{
    display: none;
}

.downto600land {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 40px 0px 40px 0;
    display: block;
    background-color: rgb(0, 166, 255);
}


.upto600x768 {
    display: none;
}

.upto768x992 {
    display: none;
}

.upto992 {
    display: none;
}